<div class="container">
  <h1>MiniAOC 2022 - webreactiva - nvelez</h1>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="navbar-brand" routerLink="/reto1" routerLinkActive="active">Reto1</a>
          </li>
          <li class="nav-item">
            <a class="navbar-brand" routerLink="/reto2" routerLinkActive="active">Reto2</a>
          </li>
          <li class="nav-item">
            <a class="navbar-brand" routerLink="/reto3" routerLinkActive="active">Reto3</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>
</div>